body {
  font-family: Menlo, monospace;
}
.greeting {
  text-align: center;
  color: #004e66;
}
.main-title, .site-title {
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.main-title {
  text-align: center;
  background-color: #004e66;
}
.site-title {
  background-color: #C82506;
  background: -webkit-linear-gradient(left top, #C82506, #fcbe32);
  background: -o-linear-gradient(bottom right, #C82506, #fcbe32);
  background: -moz-linear-gradient(bottom right, #C82506, #fcbe32);
  background: linear-gradient(to bottom right, #C82506, #fcbe32);
}
.feed-items{
  padding-left: 0;
}
.feed-item {
  padding: 10px;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  background: #fdfdfd;
  font-weight: bold;
  color: #111;
  text-shadow: 0 1px 1px #fff;
}
.feed-item:hover {
  background: lightgray;
}
.feed-link {
  display: block;
  color: #004e66;
  text-decoration: none;
  cursor: auto;
  white-space: nowrap;
  font-weight: bold;
  text-shadow: 0 1px 1px #f6f6f6;
}
.footer {
  text-align: center;
  color: #fcbe32;
}
