body {
  font-family: Menlo, monospace;
}
.main-title, .site-title {
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.main-title {
  text-align: center;
  background-color: #004e66;
}
.site-title {
  margin-bottom: 10px;
  background-color: #C82506;
  background: -webkit-linear-gradient(left top, #C82506, #fcbe32);
  background: -o-linear-gradient(bottom right, #C82506, #fcbe32);
  background: -moz-linear-gradient(bottom right, #C82506, #fcbe32);
  background: linear-gradient(to bottom right, #C82506, #fcbe32);
}
.footer {
  text-align: center;
  color: #fcbe32;
}
